services:
  api:
    build: ./api
    ports:
      - "8001:8001"
    environment:
      - SSO_HEADER_EMPID=${SSO_HEADER_EMPID:-X-SSO-EMPID}
      - SSO_HEADER_LOGINID=${SSO_HEADER_LOGINID:-X-SSO-LOGINID}
  ui:
    build: ./ui
    ports:
      - "8501:8501"
    environment:
      - API_BASE_URL=http://api:8001
    depends_on:
      - api
